{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Index</title>
<link type='text/css' href='{% static "css/index.css"%}' rel='stylesheet' /> 
</head>
<body>
<header class="main-head">
    <nav class="main">
        <h1 id="welcome">Quiz Creator</h1>
        <ul>
            {% if request.user.is_authenticated %}
            <li><a> Welcome {{ request.user.username }}</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% if messages %}
    {% for message in messages %}
    <div class="notification {{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
{% endif %}

{% block content%}
    {% if request.user.is_authenticated %}
    <div class="row-add">
        <p> Add Quiz:</p>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Save quiz</button>
        </form>
    </div>
    <div class="row-list">
        <table>
            <tr>
                <td colspan="2"><p>List of Quizzes: </p></td>
            </tr> 
        {% for quiz in quizzes %} 
            <tr>
                <td >    
                    <a href="{% url 'quiz' quiz.name %}"><h4>{{ quiz.name }}</h4></a>
                </td>
                <td class="text-right">
                    <a href="?" class="edit-item" title="Edit">Edit</a>
                    <a href="{% url 'quiz-remove' quiz.name %}">Remove</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endif %}
{% endblock%}
</body>
</html>