{% load static%}
<!DOCTYPE html>
<html>
<head>
<title>Index</title>
<link type='text/css' href='{% static "css/index.css"%}' rel='stylesheet' /> 
</head>
<body>
<p><h1>Quiz</h1></p>
<form id="CreateForm" method="post">
{% csrf_token %}
{% for question in questions %}
    <div class="question_name" id="{{ question.id }}">
        <h2>{{ question }}</h2>
            <input type="radio" id="{{ question.id }}:{{ question.get_true_answer }}" name="{{ question.id }}" value="{{ question.get_true_answer }}">
            <label for="{{ question.get_true_answer }}">{{ question.get_true_answer }}</label><br>
            <input type="radio" id="{{ question.id }}:{{ question.get_false_answer_one }}" name="{{ question.id }}" value="{{ question.get_false_answer_one }}">
            <label for="{{ question.get_false_answer_one }}">{{ question.get_false_answer_one }}</label><br>
            <input type="radio" id="{{ question.id }}:{{ question.get_false_answer_two }}" name="{{ question.id }}" value="{{ question.get_false_answer_two }}">
            <label for="{{ question.get_false_answer_two }}">{{ question.get_false_answer_two }}</label>
    </div>
{% endfor %}
</form>
<button type="submit" form="CreateForm">Send</button>


</body>