<!DOCTYPE html>
<html>
<head>
<title>Index</title>
</head>
<body>

<header class="main-head">
    <nav class="main">
        <h1 id="logo">Welcome to quizzes creator</h1>
        <ul>
            {% if request.user.is_authenticated %}
            <p>user:  {{ request.user.username }}</p>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

{% if messages %}
{% for message in messages %}
<div class="notification {{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}



{% block content%}
    {% if request.user.is_authenticated %}
    <p> New Quiz:</p>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Save quiz</button>
    </form>
    <p>List of Quizzes: </p>
    {% for quiz in quizzes %}
        <div>
            <h2 class="quiz_name"><a href="{% url 'quiz' quiz.name %}">{{ quiz.name }}</a></h2>
        </div>
    {% endfor %}
    {% endif %}
{% endblock%}

</body>
</html>