<!DOCTYPE html>
<html>
<head>
<title>Index</title>
</head>
<body>


<header class="main-head">
    <nav class="main">
        <h1 id="logo">Welcome to quizzes creator</h1>
        <ul>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'register' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>


{% if messages %}
{% for message in messages %}
<div class="notification {{ message.tags }}">
    {{ message }}
</div>
{% endfor %}
{% endif %}

{% block content%}

{% endblock%}

</body>
</html>